<footer>
  <div class="grid">
    <div>
      <div class="org-name">City of Promise</div>
      <div class="address">
        708 Page Street<br>
        Charlottesville, VA 22903
      </div>
    </div>
    <div>
      <h4>What We Do</h4>
      <ul>
        <li><a href="what-we-do.html">Community Schools</a></li>
        <li><a href="what-we-do.html">Dreambuilders</a></li>
        <li><a href="what-we-do.html">Family Engagement</a></li>
      </ul>
    </div>
    <div>
      <h4>Who We Are</h4>
      <ul>
        <li><a href="who-we-are.html#team">Team</a></li>
        <li><a href="who-we-are.html#board">Board</a></li>
        <li><a href="who-we-are.html#history">History</a></li>
        <li><a href="who-we-are.html#partners">Partners</a></li>
      </ul>
    </div>
    <div>
      <h4>Get Involved</h4>
      <ul>
        <li><a href="get-involved.html">Donate</a></li>
        <li><a href="volunteer.html">Volunteer</a></li>
        <li><a href="get-involved.html#partner">Partner with us</a></li>
        <li><a href="get-involved.html">NAP Tax Credits</a></li>
      </ul>
    </div>
    <div>
      <h4>Published Work</h4>
      <ul>
        <li><a href="published-work.html#reports">Annual Report</a></li>
        <li><a href="published-work.html#radio">Envision Radio</a></li>
        <li><a href="published-work.html#from-the-ed">From the ED</a></li>
        <li><a href="published-work.html#financials">990s</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2026 City of Promise</span>
    <span>Charlottesville, Virginia</span>
  </div>
</footer>
